/* ADD LATO FONT */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);

body{
	background: #f4f4ef;
}
*, h1,h2,h3,h4,h5,h6{
	font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
	font-weight: 200;
}
	h1,h2,h3,h4,h5,h6{
		font-family: 'Roboto Slab',serif;
		font-weight: 300;
	}

	section{
		font-size: 1.25em;
	}

	@media (min-width: 1200px){
		.container{
			width: 900px;
		}
	}

/* VISIT SITE */
.btn-visit, .btn-visit:hover{
	background: #F06060;
	border: thin solid #ec3131;
	margin: auto;
	margin-top: 2em;
}

.center{
	text-align: center;
}

/* NAVBAR */
header *{
	font-family: 'Roboto Slab',serif;
}
.navbar{
	background: #8CBEB2;
	color: #f4f4ef;
}
	.navbar-default{
		border-bottom: thin solid #6bac9c!important;
	}
		.navbar-default .navbar-nav > li > a{
			color: #376156;
		}

		.navbar-nav > li > .dropdown-menu{
			background: #f4f4ef;
			border: thin solid #6bac9c;
		}
			.navbar-nav > li > .dropdown-menu > li > a {
				color: #376156;
			}

		.navbar-default .navbar-nav > .active > a{
			background: #6bac9c;
			color: #376156;
		}
			.navbar-default .navbar-nav > .active > a:hover{
				background: #376156;
				color: #6bac9c;
			}

		.navbar-default .navbar-brand{
			color: #f4f4ef;
			font-weight: 300;
			font-family: 'Roboto Slab',serif;
		}
			.navbar-default .navbar-brand:hover{
				color: #6bac9c;
			}

		.navbar-default .form-control {
			background: #cde3de;
			border: thin solid #6bac9c;
			color: #8cbeb2;
		}
			.navbar-default::-webkit-input-placeholder,
			.navbar-default::-moz-placeholder,
			.navbar-default:-ms-input-placeholder,
			.navbar-default input:-moz-placeholder{
				color: #8cbeb2;
			}

/* POST CONTENT */
.post_content .row{
	padding-top: 2em;
	padding-bottom: 2em;
}

.post_content .col-sm-6 img{
	padding: 1em;
	width: 100%;
}
	#portfolio img{
		display: block;
		width: 100%;
		height: auto;
	}

	.portfolio{
		position: relative;
	}

	.portfolio-overlay{
		height: 100%;
		background: rgba(240,96,96,0.7);
		position: absolute;
		top: 0;
		display: none;
		padding: 15% 2em 0 2em;
		overflow: hidden;
	}
			a.portfolio-overlay,
			a.portfolio-overlay:hover,
			a.portfolio-overlay:visited{
				font-family: 'Roboto Slab','Garamond',serif;
				font-size: 1.25em;
				font-weight: normal;
				text-decoration: none;
				font-style: normal;
				color: #fff;
				text-align: center;
			}

			.portfolioitem img{
				width: 100%;
			}

			.view-project{
				display: block;
				font-weight: 300;
				width: 50%;
				margin: auto;
				margin-top: 1em;
				border: thin solid #f7a6a6;
				color: #fff;
				padding: 1em;
				font-size: 0.5em;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				text-transform: uppercase;
				background: rgba(255,255,255,0.25);
			}
.tags{
	margin-bottom: 1em;
}
	.tags>a{
		background: transparent;
		border: 1px solid #f7a6a6;
		color: #f7a6a6;
		font-size: 100;
		font-family: 'Roboto Slab',serif;
	}
		.tags>a:hover, .tags>a:visited{
			background: transparent;
		}
			

.post_content .row{
	border-bottom: thin solid #eee;
}
	.post_content .row:last-child{
		border: 0;
	}
